<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.prmultimediaGaleria"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!-- Restringir la visibilidad en Google Play a dispositivos que tienen camara. -->
    <!-- Si la aplicacion no requiere una camara se pone required=false -->
    <!-- y hay que controlar con hasSystemFeature(PackageManager.FEATURE_CAMERA) si existe o no. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Para poder guardar la foto en la tarjeta SD. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Para el boton obtener imagen de internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.prmultimediaGaleria.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>